@use "variables" as v;

:root {
    --block-var: 6;
}

@media (max-width: 1200px) {
    :root {
        --block-var: 5;
    }
}

@media (max-width: 800px) {
    :root {
        --block-var: 4;
    }
}

.left-split {
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
  
.left-stack {
    width: v.$left-width;
    display: flex;
    flex-direction: column;
    gap: 1px;

    .boxes {
        overflow-y: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1px;
    }
}

.display-screen {
    width: calc((v.$left-width / (var(--block-var)) * 2));
    flex-shrink: 0;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1px;
    .pagination {
        width: 100% !important;
    }
}

.left-split-small {
    width: calc((v.$left-width / (var(--block-var)) * calc(var(--block-var) - 2)));
}

.font-block {
    width: calc(v.$left-width / var(--block-var) - 1px);
    max-width: calc(v.$left-width / var(--block-var) - 1px);
    height: calc(v.$left-width / var(--block-var) - 1px);
    display: inline-block;
    background-color: transparent;

    button {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: left;
    }

}

.font-inspector {
    aspect-ratio: 1;
    width: 100%;
    user-select: all !important;
    -webkit-user-select: auto;
    display: flex;
    flex-direction: column;
    gap: 1px;
    overflow-x: hidden;
    flex-shrink: 0;
    .tag-map {
        display: flex;
        flex-wrap: wrap;
        justify-self: flex-end;
        background-color: v.$highlight;
        gap: 1px;
        user-select: none;
        padding: 1px;
        button {
            border: none !important;
            padding: 0 1px;
        }
    }
    .inspector-title {
        font-size: 18px;
        font-style: italic;
        position: sticky;
        top: 0;
        z-index: 10;
        width: 100%;
        flex-shrink: 0;
        display: flex;
        flex-direction: row;
        gap: 1px;
        & > :first-child {
            flex-grow: 1;

        }
        .img-btn {
            height: 21.5px;
            width: 21.5px;
        }
    }
    .inspector-desc {
        flex-grow: 1;
        width: 100%;
        user-select: all;
    }

    .inspector-sub {
        opacity: 0.5;
        width: 100%;
    }

    overflow-y: auto;
}

.inspector-sites {
    max-height: 100%;
    overflow-y: auto;
    flex-grow: 1;
    display: flex;
    gap: 1px;
    flex-direction: column;
    .text {
        width: 100%;
        text-align: left;
    }
}

.bubble-header {
    & > :first-child {
        flex-grow: 1;
        width: 100% !important;
    }
    .dropdown-header {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: 50%;
    }
}

.fillbox {
    flex-grow: 1;
    width: calc(100% - 4px) !important;
}

@media (max-width: 768px) {
    .left-stack {
        width: 100%;
    }

    .font-block {
        width: calc(100vw / 3 - 2px);
        max-width: calc(100vw / 3 - 2px);
        height: calc(100vw / 3 - 2px);
    }

    .left-split {
        gap: 1px;
    }
    
    .left-split-small {
        .font-block {
            width: calc(30dvw - 2px);
            max-width: calc(30dvw - 2px);
            height: calc(30dvw - 2px);
        }
    }

    .display-screen {
        width: 70dvw;
    }

    .bubble-header {
        flex-direction: column;
        gap: 1px;
    }
}
