@use 'variables' as v;
@import '@fontsource/commit-mono';

.dropdown-header {
    display: flex;
    flex-direction: row;
    gap: 1px;
    width: 100%;
    
}

.img-btn {
    display: flex;
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    line-height: 16px;
    align-items: center;
    justify-content: center;
    img {
        max-width: 14px;
        max-height: 14px;
    }
}

.dropdown {
    position: relative;
    width: 100%;
    font-size: 12px;
    border: none;
    min-height: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    min-width: 5em;
    font-family: 'Commit Mono', monospace;
    background-color: v.$highlight !important;

    .dropdown-header {
        justify-content: space-between;
        gap: 0;
        > :first-child {
            
            flex-grow: 1;
            text-align: left;
            border-right: none;
            

        }
    }

    .dropdown-header-open {
        > * {
            border: 1px dashed v.$highlight;
        }
    }

    cursor: pointer;

    .dropdown-content {
        display: flex;
        flex-direction: column;
        z-index: 100;
        left: 0;
        width: 100%;
        position: absolute;
        max-height: 20em;
        overflow-y: auto;
        > * {
            border: 1px solid v.$highlight;
            text-align: left;

            text-wrap: nowrap;
            word-wrap: break-word;
        }
        > :first-child {
            border-top: 0;
        }
        button + button {
            border-top: 0;
        }
    }

    .dd-item {
        background-color: v.$hover1;
        @media (hover: hover) {
            &:hover {
                background-color: v.$hover2;
            }
        }
        &:active {
            background-color: v.$active1;
        }
    }
}

button {
    font-size: 12px;
    border: none;
    height: 16px;
    color: v.$copy;
    font-family: 'Commit Mono', monospace;
    margin: 0;
    padding: 0;

    cursor: pointer;

    @media (hover: hover) {
        &:hover {
            background-color: v.$hover1;
            border: 1px dashed v.$highlight;
        }
    }
    &:active {
        background-color: v.$active1;
        border: 1px dashed v.$highlight;
    }
}

.button-rev {
    background-color: v.$hover1;
    @media (hover: hover) {
        &:hover {
            background-color: v.$hover3;
        }
    }
    &:active {
        background-color: v.$active1;
    }
}

.button-img {
    @media (hover: hover) {
        &:hover {
            background-color: v.$hover2;
        }
    }
    &:active {
        background-color: v.$active2;
    }
}

.button-not {
    @media (hover: hover) {
        &:hover {
            background-color: v.$hover3;
        }
    }
    &:active {
        background-color: v.$active3;
    }
}

.button-img-rev {
    background-color: v.$hover2;
    @media (hover: hover) {
        &:hover {
            background-color: v.$hover1;
        }
    }
    &:active {
        background-color: v.$active2;
    }
}

.button-not-rev {
    background-color: v.$hover3;
    @media (hover: hover) {
        &:hover {
            background-color: v.$hover2;
        }

    }
    &:active {
        background-color: v.$active3;
    }
}

input[type=text] {
    height: 14px;
    background: v.$highlight;
    border: none;
    margin: 0;
    padding: 0 1px;
    border: 1px solid v.$highlight;
    font-size: 12px;
    flex-grow: 1;
    font-family: 'Commit Mono', monospace;
    @media (hover: hover) {
        &:hover {
            background-color: v.$hover1;
            border: 1px dashed v.$highlight;
        }

    }
    &:active {
        background-color: v.$hover3;
        border: 1px dashed v.$highlight;
    }

    &:focus {
        outline: none;
        background-color: v.$active2;
        border: 1px dashed v.$highlight;
    }
}

.search-row {
    display: flex;
    gap: 1px;
    label {
        height: fit-content;
    }

}

.search-col {
    display: flex;
    flex-direction: column;
    gap: 1px;
    width: 100%;
    & > :first-child {
        flex-grow: 1;
        width: 100%;
    }
}

.toggle-row {
    display: flex;
    flex-direction: row;
    button {
        border: 1px solid v.$highlight;
    }
    button + button {
        border-left: none;
    }

    
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;
    gap: 1px;
    text-align: center;
    justify-self: flex-end;
}

.submit {
    width: 100%;
}
